<div class="container grid-1280">
  <div class="columns">
    <div class="column col-4">
      <h2><%= @pollable.name %></h2>
    </div>
    <div class="col-8">
      <div class="float-right" style="display: inline-block;">
        <%= render partial: 'partials/timepicker' %>
      </div>
    </div>
  </div>
</div>

<div class="section-blue">
  <div class="container grid-1280">
    <h4> Status </h4>
    <div class="columns">
      <div class="column col-4">
        <div class="info-box">
          <div class="info-box-header">
            <div class="info-box-icon">
              <i class="icon icon-menu"></i>
            </div>
          </div>
          <div class="info-box-body">
            <strong> <%= @pollable.count %> </strong> Pollables
            <small>of this type exist</small>
          </div>
        </div>
      </div>
      <div class="column col-4">
        <div class="info-box">
          <div class="info-box-header">
            <div class="info-box-icon green">
              <i class="icon icon-more-horiz"></i>
            </div>
          </div>
          <div class="info-box-body">
            <strong>
              <%=
                Aeternitas::PollableMetaData
                .where(pollable_class: @pollable.name)
                .enqueued
                .count
              %>
            </strong> Pollables
            <small>are currently enqueued</small>
          </div>
        </div>
      </div>
      <div class="column col-4">
        <div class="info-box">
          <div class="info-box-header">
            <div class="info-box-icon red">
              <i class="icon icon-shutdown"></i>
            </div>
          </div>
          <div class="info-box-body">
            <strong>
              <%=
                Aeternitas::PollableMetaData
                .where(pollable_class: @pollable.name)
                .deactivated
                .count
              %>
            </strong> Pollables
            <small>are deactivated</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-white">
  <div class="container grid-1280">
    <h3>
      Polling Statistics
    </h3>
  </div>
  <div class="large-canvas">
    <canvas id="timeline"></canvas>
    <script>
        register_chart("timeline", "<%= timeline_pollable_path(id: @pollable.name) %>", {
            type: 'bar',
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{display: false, stacked: true}],
                    xAxes: [{display: false, stacked: true}]
                },
                legend: {
                    position: "bottom"
                }
            }
        });
    </script>
  </div>
</div>

<div class="section-blue">
  <div class="container grid-1280">
    <div class="columns">
      <div class="column col-5">
        <h5>Execution Time <small>milliseconds</small></h5>
        <canvas id="execution_time"></canvas>
        <script>
            register_chart("execution_time", "<%= execution_time_pollable_path(id: @pollable.name) %>", {
                type: 'line',
                options: {
                    responsive: true,
                    //maintainAspectRatio: false,
                    legend: {
                        position: "bottom"
                    }
                }
            });
        </script>
      </div>

      <div class="column col-2"></div>

      <div class="column col-5">
        <h5>Data Growth</h5>
        <canvas id="pollable_growth"></canvas>
        <script>
            register_chart("pollable_growth", "<%= data_growth_pollable_path(id: @pollable.name) %>", {
                type: 'line',
                options: {
                    responsive: true,
                    //maintainAspectRatio: false,
                    legend: {
                        position: "bottom"
                    }
                }
            });
        </script>
      </div>
    </div>
  </div>
</div>

<div class="section-white">
  <div class="container grid-1280">
    <h3> Deactivated Pollables </h3>
    <table id="deactivated-pollables" class="table">
      <thead>
      <tr>
        <th> Identifier </th>
        <th> Last Polling </th>
        <th> Deactivation Reason </th>
        <th> Deactivated At </th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <script>
        $(document).ready(function() {
          $('#deactivated-pollables').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "<%= deactivated_pollables_pollable_path(id: @pollable.name) %>",
            "columns": [
              {data: "identifier"},
              {data: "last_polling"},
              {data: "deactivation_reason"},
              {data: "deactivated_at"}
            ],
            "ordering": false,
            "searching": false
          });
        } );
    </script>
  </div>
</div>

<div class="section-white">
  <div class="container grid-1280">
    <h3> Pollables </h3>
    <table id="pollables-list" class="table">
      <thead>
      <tr>
        <th> Identifier </th>
        <th> Status </th>
        <th> Last Polling </th>
        <th> Next Polling </th>
        <th> Sources </th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <script>
      $(document).ready(function() {
          $('#pollables-list').DataTable({
              "processing": true,
              "serverSide": true,
              "ajax": "<%= all_pollables_pollable_path(id: @pollable.name) %>",
              "columns": [
                  {data: "identifier"},
                  {data: "status"},
                  {data: "last_polling"},
                  {data: "next_polling"},
                  {data: "sources"}
              ],
              "ordering": false,
              "searching": false
          });
      } );
    </script>
  </div>
</div>